h3 {
font-family: Railway, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: rgb(252, 251, 249);
font-size: 3em;
text-shadow: 10px;
font-weight: 900;
text-transform: uppercase;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #10283e;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: large;
    text-shadow: 10px;
    font-weight: 900;
}