.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #10283e;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
}

a:link {
    color: #c3cca2;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #d49421;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #88afa6;
    background-color: transparent;
    text-decoration: underline;
  }