.upload-wrapper {
    display: flex;
    justify-content: center;
    max-height: 300px !important;
  }

  .profile-img {
      border-radius: 100%;
      width: 250px !important;
      height: 250px !important;
  }

  .img-landing {
    max-height: 300px;
    padding-bottom: 25px;
  }